html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(white,lightblue);
}

header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


header img {
	max-width: 100%;
}

.container {
	font-size: 18px;
	padding: 10px;
	display: block;
	}

.container li {
	font-size: 20px;
	left: 35%;
}

.navbar-header a {
	font-size: 30px;
	padding: 15px 10px;
	font-family: Times New Roman;
}

.jumbotron {
	background: none;
}

.jumbotron h1 {
	font-size: 4em;
	font-family: Times New Roman;
	font-style: italic;
}

.carousel-indicators li {
	position: relative;
	bottom: 30px;
}

.carousel-inner .item img {
	margin: auto;
	width: 1140px;
	height: 500px;
	padding: 10px;
}

footer {
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: lightblue;
	text-align: center;
	font-size: 18px;
	font-family: Times New Roman;
}
