html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(white,lightblue);
}

header {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

header img {
	max-width: 100%;
}

.container {
	font-size: 18px;
	padding: 10px;
	display: block;
	}

.container li {
	font-size: 20px;
	left: 35%;
}

.navbar-header a {
	font-size: 30px;
	padding: 15px 10px;
	font-family: Times New Roman;
}

.container h3 {
	text-align: center;
	padding: 10px;
}

.list-inline {
	text-align: center;
	text-decoration: none;
	padding: 50px;
	display: block;
}

.container h3{
	font-size: 1.5em;
	font-family: Verdana;
}

.list-inline li {
	padding: 20px;
	margin: 20px;
	font-size: 1.5em;
	font-family: Verdana;
}

footer {
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: lightblue;
	text-align: center;
	font-size: 18px;
}


@media(max-width: 600px) {
	body {background-image: linear-gradient(lightblue,white);}
}

@media(max-width: 600px) {
	header{ width: 100%;}
}

@media(max-width: 600px) {
	.topnav {border: 1px solid white;}
}

@media(max-width: 600px) {
	.topnav li {display: block;
	font-size: 16px;
	font-family: Times New Roman;
	padding: 5px;
	border: 1px solid white;}
}

@media(max-width: 600px) {
	.topnav li a {display: inline-block;
	padding: 10px 20px; }
}


@media(max-width: 600px) {
	.links li a {font-size: 23px;}
}

@media(max-width: 600px) {
	footer {position: fixed;}
}
